@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    font-family: 'Cinzel', serif;
    background-image: url("images/Mordor.webp");
    background-repeat: no-repeat;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(25,24,24,0) 100%);
    align-items: center;
    padding: 12px 18px;
}

header h1 {
    font-size: 24px;
    font-weight: 600;
}

main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    column-gap: 36px;
    margin: 36px 48px;
}

footer {
    display: flex;
}

.content {
    overflow-y: auto;
    background-color: hsla(0, 0%, 30%, 0.5);
}

::-webkit-scrollbar {
    width: 0;
}

header a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    padding: 10px 30px;
    border: 1px solid hsl(0, 0%, 100%);
}

header a:hover {
    background-color: white;
    color: black;
    transition: all 0.5s ease;
}

.bookcover img {
    width: 100%;
}
